/* Just a bunch of resets that I end up writing 
in almost every stylesheet. */

li {
    list-style-type: none;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* FONT-AWESOME */

/* --STILL TESTING--

    The more I look at it, the more it seems a REALLY bad idea,
    but still.

*/