/* TEST */
/* COMMON */
body {
    color: #818ba2;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    min-width: 320px;
}

h2,
h3,
h4 {
    color: #031c4e;
    font-weight: bolder;
}

main p {
    font-size: 120%;
}

.tb-padder {
    padding-top: 50px;
    padding-bottom: 50px;
}

.thinner_cont {
    width: 90%;
    margin: auto;
}

/* Common .slide_show */

.dot {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 2px solid #006aff;
    border-radius: 50%;
    margin: 5px;
}

.dot-active {
    background-color: #006aff;
}

.slide-arrow {
    font-size: 250%;
    padding: 10px;
}

.slide-arrow .fa-chevron-left::before {
    color: #6f7b97;

}

.slide-arrow .fa-chevron-right::before {
    color: #031c4e;
}

[class^="slide-"] {
    display: inline-block;
    vertical-align: middle;
}

.slide-content {
    width: 50%;
    margin: auto;
    margin-bottom: 15px;
}

/* End Common  .slide_show */

main a,
.burger,
.nav_header,
.custom-button {
    color: #2285fd;

}

.bg-grey {
    background-color: #f3f5f9;
}

.bg-blue {
    background: linear-gradient(to right, #0035b1, #0048c6, #0035b1);
    color: white;
}

.bg-blue h2 {
    color: white;
}

.chevroned_link::after {
    padding-left: 5px;
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    font-size: 90%;
}


/* HEADER */
.nav_header,
.burger {
    font-size: 120%;
    font-weight: bold;
}

.custom-button {
    border: 1px solid #2285fd;
    border-radius: 5px;
    padding: 8px 10px;
}

nav {
    padding-top: 30px;
    padding-bottom: 20px;
    line-height: 25px;
}

.nav_header img {
    vertical-align: middle;
    height: 1.4em;
}

nav li {
    color: #0d2554;
}

.dropdown::after {
    padding-left: 5px;
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}



/* MAIN */

/* Intro */
.intro {
    background: url("../img/ms-jumbo.jpg");
    background-size: cover;
}

/* Intro left-col */
h1 {
    color: white;
    font-size: 360%;
}

.banner {
    color: #baccff;
}


/* Intro right-col */

.log-box {
    background: white;
    padding: 5% 5%;
    border-radius: 10px;
}

.login-form .form-control::placeholder {
    color: #757575;
}

.blue-button {
    background-color: #2285fd;
    color: white;
}

.white-button {
    color: #626262;
    font-weight: bold;
    box-shadow: 1px 1px 1px #656565;
}

.log-box [class*="-button"] {
    margin-bottom: 10px;
}

.button-wrapper {
    position: relative;
}

.left-button {
    height: 1em;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.log-box p a {
    text-decoration: underline;
}


/* Customers */
.logo-list li {
    vertical-align: middle;
}

.logo-list img {
    margin: auto;
}

/* Deploy */

.section-header {
    padding-bottom: 30px;
}

.deploy-steps li {
    padding: 5% 4%;
}

.deploy-steps {
    border-left: 1px solid;
    border-color: inherit;
    margin-bottom: 30px;
}

/* Regions */
.regions .row .row {
    border-bottom: 1px solid white;
    margin: 15px 10px;
}

.regions .col-xs-7 {
    color: #b3c3e7;
}

/* Feedbacks */
.feedbacks .log-box img {
    max-height: 90px;
    max-width: 100%;
    display: block;
    margin: auto;
}

.feedbacks .log-box {
    padding-top: 60px;
    padding-bottom: 60px;
}

.feedbacks .log-box>* {
    padding-bottom: 15px;
}

/* Aggressive marketing */

.aggressive-marketing .btn {
    color: #0d73ff;
    background-color: white;
}

/* FOOTER */
footer {
    background-color: #031c4e;
    color: #a6adbd;
    font-weight: 500;
    font-size: 110%;
    /* line-height: 200%; */

}

footer [class^="col-"]* {
    padding-bottom: 15px;
}

.copyright::before {
    content: "\f1f9";
    font-family: "Font Awesome 5 Free";

}

footer .socials {
    font-size: 140%;
}

footer span.lighter {
    color: #8b94a9;
}

footer h3 {
    color: white;
}

/* FIXED */
.pesky-shark {
    /* height: 150px; */
    z-index: 1;
    position: fixed;
    bottom: 1%;
    right: 2%;

}

.pesky-shark .question {
    display: inline-block;
    width: 200px;
    padding: 10px;
    /* height: 100px; */
    background-color: white;
    position: relative;
    border-radius: 10px;
}

.triangle {
    border: 10px solid transparent;
    border-left-color: white;
    width: 0;
    position: absolute;
    right: -20px;
    top: 60px;
}

.mascotte {
    height: 100px;
    display: inline-block;
    position: relative;
}

.notifs {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    border: 5px solid white;
    background: red;
    color: white;
    width: 35px;
    height: 35px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}

.mascotte img {
    height: 100%;
}


/* Queries */
/* TEST */

@media screen and (max-width: 767px) {
    .logo-list li {
        width: 48%;
    }

    .slide-content {
        width: 80%;
    }

    .thinner_cont {
        width: 100%;
        margin-left: -15px;
        /* temo sia una soluzione stupida, tuttavia */
    }

    h1,
    h2 {
        font-size: 190%;
    }
}





.test-slide {
    position: relative;
}

.pic {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

.active:checked {
    display: none;
}

.active:active {
    display: none;
}